body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.prod-info {
    width: 120px;
    min-height: 120px;
    max-height:500px;
    float: left;
    margin: 3px;
    padding: 3px;
}

    .prod-info img {
        max-width: 100%;
        height: auto;
    }

    .prod-info ul {
        list-style: none;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
    }

    .prod-info .buy {
        margin: 5px;
    }

menu li {
    display: inline;
}

    menu li::after {
        content: " |"
    }

    menu li:last-of-type::after {
        content: "";
    }

form input, textarea {
    width: 200px;
}

    form input[type="submit"] {
        font-weight: bold;
        background-color: lightcoral;
        border: none;
        padding: 15px 32px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        margin-top: 15px;
        cursor:pointer;
    }

/*li {
    width: 100px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/