@{ 
    ViewBag.Title = "Home Page";
}
<div class="prod-info">
    <img src="~/img/iPhone-Red.png" />
    <ul>
        <li>Price: 700$</li>
        <li>Title: </li>
        <li>Description</li>
    </ul>
    <input type="submit" value="Buy item" class="buy" />
</div>

