@model List<Product>;
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="border bg-light rounded p1">
                <div class="thumbnail">
                    <img src="~/img/@(item.ArtId).jpg" style="width:100%;" />
                </div>
                <ul>
                    <li>Price: @item.Price$</li>
                    <li>Title: @item.Title</li>
                    <li>Description: @string.Concat(item.ArtDescription?.Substring(0, 100),"...")</li>
                </ul>
                <input type="submit" value="Buy item" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

