<html>
<head>
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="~/css/Site.css" />
</head>
<body>
    <h1>Dutch Treat</h1>
    <div class="prod-info">
        <img src="~/img/iPhone-Red.png" />
        <ul>
            <li>Price: 700$</li>
            <li>Title: </li>
            <li>Description</li>
        </ul>
        <input type="submit" value="Buy item" class="buy" />
    </div>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
</body>
</html>
